td,
th {
  border: 1px solid black;
  padding: 8px;
}
.pdf {
  width: 50%;
  height: 150px;
  background-color: #262b27;
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-top: 10px solid yellow;
  margin-top: 50px;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0 78 66);
}
.form {
  background-color: white;
  box-shadow: #262b27 6px;
  color: #262b27;
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.form h3,
h2,
label {
  text-transform: uppercase;
  font-weight: 700;
}
.btn_edit {
  background-color: #262b27;
  color: #fff;
  text-transform: uppercase;
  width: auto;
  text-decoration: none;
  outline: none;

  margin-right: 5px;
}
.btn_edit Link {
  text-decoration: none;
  background-color: #262b27;
}
.btn_delete {
  background-color: red;
  color: #fff;
  outline: none;
  text-transform: uppercase;
}
.form img {
  width: 25%;
  align-self: left;
}

.formEdit {
  background-color: #fff;
  width: 50vw;
  color: #262b27;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.formEdit .text1 .text {
  outline: 1px solid transparent;
  width: 100%;
  text-align: center;
}
.formEdit .text1 .text:focus {
  outline: 3px solid yellow;
}
.text1 {
  margin: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  align-self: center;
}
.btn_create {
  margin: 5px 10px;
  padding-top: 12px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #262b27;
  color: #fff;
  width: 50%;
  height: 40px;
}
.btn_create:hover {
  color: yellow;
}
.heading {
  background-color: rgba(38, 43, 39, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  align-self: center;
}
.mainHeading {
  background-color: #262b27;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.arrow {
  align-self: flex-start;

  color: yellow;
}
.label {
  font-weight: 700;
  font-size: 40px;
  width: 50vw;
}
.pagination {
  display: flex;

  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}
.datepicker {
  justify-self: left;
  display: block !important;
}
.textbox {
  border: 2px solid black;
  outline: none;
  margin-top: 5px;
}
.textbox:hover {
  border: 2px solid yellow;
}
.applyFilter-btn {
  background-color: #262b27;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.applyFilter-btn:hover {
  color: yellow;
}
.spanText {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navigationButtonsContainer ul{
display: none!important;
}
